1) La somme

tableau <- [1,2,3,4,5]

somme = 0

Pour chaque élément i du tableau "tableau"
  
  
> somme <- somme + i



On affiche la contenu de la variable somme

In [ ]:
#2 - Les tableaux
#1)La somme
tableau = [1,2,3,4,5]
somme = 0
for i in tableau:
  somme += i
print(somme)

15


2) La somme: le retour

tableau1 <- [1,2,3,4]

tableau2 <- [1,2,3,4]

nouveauTableau <- [ ]

somme <- 0

Pour chaque élément i entre 0 et la longueur du tableau1

 > somme <- tableau1[i] + tableau2[i]
 > nouveauTableau <- [somme]

On affiche le nouveau tableau

In [19]:
#2)La somme : le retour
tableau1 = [1,2,3,4,5]
tableau2 = [6,7,8,9,10]
nouveauTableau = []
somme = 0
for i in range(0,len(tableau1)):
  somme = tableau1[i] + tableau2[i]
  nouveauTableau.append(somme)
print(nouveauTableau)

[7, 9, 11, 13, 15]

3) FacProduct

tableau1 <- [1,2,3,4]

tableau2 <- [1,2,3,4]

nouveauTableau <- [ ]

produit = 0

somme = 0

Pour chaque élément i entre 0 et longueur du tableau1

> produit = tableau1[i] * tableau2[i]

> nouveauTableau <- [produit]

Pour chaque élement z du tableau "nouveauTableau"

> somme = somme + z

On affiche la somme

In [15]:
#3) FacProduit
tableau1 = [1,2,3,4]
tableau2 = [1,2,3,4]
nouveauTableau = []
produit = 0
somme = 0

for i in range(0, len(tableau1)):
  produit = tableau1[i] * tableau2[i]
  nouveauTableau.append(produit)
  print(nouveauTableau)
for z in nouveauTableau:
  somme += z
print(somme)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
30

4)Le plus grand

n <- entrée utilisateur

max = 0

tableau <- [ ,  ,  , n] #Tableau de taille n

Pour chaque élément i du tableau

> Si i > max

> Alors max <- i 

On affiche le max

In [20]:
from random import randint
n = input()
max = 0
tableau = [randint(1,50) for x in range(int(n))]
print(tableau)
for i in tableau:
  if (i > max):
    max = i
print(max)

5
[13, 6, 21, 47, 40]
47